
body
{
margin-left:0px;
margin-top:0px;
margin-right:0px;
margin-bottom:0px;
}


input[type=text],input[type=password],input[type=number]
{	    
    font-weight: 500;
    font-style: normal;
    font-size: 1.15em;
    text-shadow: 0px 0px 3px rgba(130, 150, 150, 0);
    }
	
	input[type=email]{
	    
    font-weight: 100;
    font-style: normal;
    font-size: 1.15em;
    text-shadow: 0px 1px 3px rgba(130, 150, 150, 0);
    }
	input[type=date]
	{
		width:235px;
		height:30px;
	}
	select
	{
		width:235px;
		height:30px;
	}
	
	p,p1,p2,p3,p4,p5,p6,p7,p8,p9,p10{
     font-style: normal;
    font-size: 1.55em;
}

input[type=submit]   
{
	
	background-color:lightgray;
	color:Black;
	padding:14px 20px;
	margin:8px 0;
	margin-left:200px;
	border:none;
	cursor:pointer;
	width:80px;

}

select
	{
		width:235px;
		height:30px;
	}
	